<div class="main-product-page">
    @if(!isSmallView()) {
        <div class="parent-container-normal">
            <div class="img-container">
                @if(imageLoaded() && showPreview()) {
                <div class="necklace-container">
                    <!-- Left Image -->
                    <img [src]="chainImages()[0]" alt="left" [ngClass]="isCurvedLetter(true) ? 'left-img-a' : 'left-img'" />

                    <!-- List of Images -->
                    <ul class="list-of-img">
                        @for(image of characterImages(); track $index) {
                        <li> <img [src]="image" [alt]="image"
                                [ngClass]="formGroup.value.letterHeight === 'Medium' ? 'final-img' : 'final-img-large'" />
                        </li>
                        }
                    </ul>

                    <!-- Right Image -->
                    <img [src]="chainImages()[1]" alt="right"
                        [ngClass]="isCurvedLetter(false) ? 'right-img-a' : 'right-img'" />
                </div>
                <app-measurement-scale [height]="formGroup.value.letterHeight" [width]="itemWidth()" />
                } @else {
                <app-image-slider [mediaItems]="mediaItems" [themeColor]="themeColor()"></app-image-slider>
                }
            </div>

            <div [formGroup]="formGroup" class="form-container">
                <h2>{{formGroup.controls.metalColor.value}} Customized Diamond Necklace</h2>
                <div class="price-section"><span>${{itemPrice()}}</span></div>

                <!-- Custom Name -->

                <div class="form-group">
                    <label for="customName">Enter your text</label>
                    <div class="row">
                        <input type="text" id="customName" formControlName="customName" class="input-field"
                            [attr.placeholder]="(10 - (formGroup.get('customName')?.value?.length || 0)) + ' characters remaining'"
                            maxlength="10" style="text-transform: uppercase;" />
                        <button class="preview-button" [matTooltip]="formGroup.invalid ? 'Enter name to preview' : null"
                            [ngStyle]="formGroup.invalid ? {} : {'background-color': themeColor(), 'color': '#fff'}"
                            [disabled]="formGroup.invalid" type="button" (click)="onPreviewClick()">
                            Preview
                            <mat-icon>{{ showPreview() ? 'visibility_off' : 'visibility' }}</mat-icon>
                        </button>
                    </div>
                </div>

                <!-- Metal Color -->
                <div class="form-group">
                    <label>Choose your color</label>
                    <div class="options-group">
                        @for(color of metalColors; track $index) {
                        <app-text-with-image-button [themeColor]="themeColor()" [imageSource]="color.Icon"
                            [isSelected]="formGroup.get('metalColor')?.value === color.Name"
                            (clicked)="selectOption('metalColor', color.Name)"></app-text-with-image-button>
                        }
                    </div>
                </div>

                <!-- Metal Carat -->
                <div class="form-group">
                    <label>Select carat</label>
                    <div class="options-group">
                        <button type="button" *ngFor="let carat of metalCarats" (click)="selectOption('metalCarat', carat)"
                            [class.active]="formGroup.get('metalCarat')?.value === carat" class="option">
                            {{ carat }}
                        </button>
                    </div>
                </div>

                <div class="form-group-sub-container">
                    <div class="form-group-row">
                        <!-- Quantity -->
                        <div class="form-group" style="display: flex; flex-direction: column;">
                            <label for="quantity">Quantity</label>
                            <input type="number" id="quantity" formControlName="quantity" class="quantity-input"
                                placeholder="Enter quantity" />
                            <div class="error-message" *ngIf="formGroup.get('quantity')?.errors?.['min']">
                                * Please enter a valid quantity greater than 0.
                            </div>
                        </div>

                        <!-- Font Style -->
                        <div class="form-group">
                            <label>Font Style</label>
                            <div class="options-group">
                                <button type="button" *ngFor="let font of fontStyles"
                                    (click)="selectOption('fontStyle', font)"
                                    [class.active]="formGroup.get('fontStyle')?.value === font" class="height-option">
                                    {{ font }}
                                </button>
                            </div>
                        </div>
                    </div>


                    <div class="form-group-row">
                        <!-- Diamond Quality -->
                        <div class="form-group">
                            <label>Diamond Quality</label>
                            <div class="options-group">
                                <button type="button" *ngFor="let quality of diamondQualities"
                                    (click)="selectOption('diamondQuality', quality)"
                                    [class.active]="formGroup.get('diamondQuality')?.value === quality"
                                    class="height-option">
                                    {{ quality }}
                                </button>
                            </div>
                        </div>

                        <!-- Letter Height -->
                        <div class="form-group">
                            <label>Letter Height</label>
                            <div class="options-group">
                                <button type="button" *ngFor="let height of letterHeights"
                                    (click)="selectOption('letterHeight', height)"
                                    [class.active]="formGroup.get('letterHeight')?.value === height" class="height-option">
                                    {{ height }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group" [style.--theme-color]="formGroup.invalid ? '#ccc' : themeColor()">
                    <div class="cta-buttons">
                        <button type="submit" [disabled]="formGroup.invalid" class="submit-button primary"
                            (click)="buyAction('BUY_NOW')">
                            BUY NOW
                        </button>
                        <button type="submit" [disabled]="formGroup.invalid" class="submit-button secondary"
                            (click)="buyAction('ADD_TO_CART')">
                            ADD TO CART
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }
    @else {
        <div class="parent-container-small">
            <div class="img-container">
                @if(imageLoaded() && showPreview()) {
                <div class="necklace-container">
                    <!-- Left Image -->
                    <img [src]="chainImages()[0]" alt="left" [ngClass]="isCurvedLetter(true) ? 'left-img-a' : 'left-img'" />

                    <!-- List of Images -->
                    <ul class="list-of-img">
                        @for(image of characterImages(); track $index) {
                        <li> <img [src]="image" [alt]="image"
                                [ngClass]="formGroup.value.letterHeight === 'Medium' ? 'final-img' : 'final-img-large'" />
                        </li>
                        }
                    </ul>

                    <!-- Right Image -->
                    <img [src]="chainImages()[1]" alt="right"
                        [ngClass]="isCurvedLetter(false) ? 'right-img-a' : 'right-img'" />
                </div>
                <app-measurement-scale [height]="formGroup.value.letterHeight" [width]="itemWidth()" />
                } @else {
                <app-image-slider [mediaItems]="mediaItems" [themeColor]="themeColor()"></app-image-slider>
                }
            </div>

            <div [formGroup]="formGroup" class="form-container">
                <h2>{{formGroup.controls.metalColor.value}} Customized Diamond Necklace</h2>
                <div class="price-section"><span>${{itemPrice()}}</span></div>

                <!-- Custom Name -->

                <div class="form-group">
                    <label for="customName">Enter your text</label>
                    <div class="row">
                        <input type="text" id="customName" formControlName="customName" class="input-field"
                            [attr.placeholder]="(10 - (formGroup.get('customName')?.value?.length || 0)) + ' characters remaining'"
                            maxlength="10" style="text-transform: uppercase;" />
                        <button class="preview-button" [matTooltip]="formGroup.invalid ? 'Enter name to preview' : null"
                            [ngStyle]="formGroup.invalid ? {} : {'background-color': themeColor(), 'color': '#fff'}"
                            [disabled]="formGroup.invalid" type="button" (click)="onPreviewClick()">
                            Preview
                            <mat-icon>{{ showPreview() ? 'visibility_off' : 'visibility' }}</mat-icon>
                        </button>
                    </div>
                </div>

                <!-- Metal Color -->
                <div class="form-group">
                    <label>Choose your color</label>
                    <div class="options-group">
                        @for(color of metalColors; track $index) {
                        <app-text-with-image-button [themeColor]="themeColor()" [imageSource]="color.Icon"
                            [isSelected]="formGroup.get('metalColor')?.value === color.Name"
                            (clicked)="selectOption('metalColor', color.Name)"></app-text-with-image-button>
                        }
                    </div>
                </div>

                <!-- Metal Carat -->
                <div class="form-group">
                    <label>Select carat</label>
                    <div class="options-group">
                        <button type="button" *ngFor="let carat of metalCarats" (click)="selectOption('metalCarat', carat)"
                            [class.active]="formGroup.get('metalCarat')?.value === carat" class="option">
                            {{ carat }}
                        </button>
                    </div>
                </div>

                <div class="form-group-sub-container">
                    <div class="form-group-row">
                        <!-- Quantity -->
                        <div class="form-group" style="display: flex; flex-direction: column;">
                            <label for="quantity">Quantity</label>
                            <input type="number" id="quantity" formControlName="quantity" class="quantity-input"
                                placeholder="Enter quantity" />
                            <div class="error-message" *ngIf="formGroup.get('quantity')?.errors?.['min']">
                                * Please enter a valid quantity greater than 0.
                            </div>
                        </div>

                        <!-- Font Style -->
                        <div class="form-group">
                            <label>Font Style</label>
                            <div class="options-group">
                                <button type="button" *ngFor="let font of fontStyles"
                                    (click)="selectOption('fontStyle', font)"
                                    [class.active]="formGroup.get('fontStyle')?.value === font" class="height-option">
                                    {{ font }}
                                </button>
                            </div>
                        </div>
                    </div>


                    <div class="form-group-row">
                        <!-- Diamond Quality -->
                        <div class="form-group">
                            <label>Diamond Quality</label>
                            <div class="options-group">
                                <button type="button" *ngFor="let quality of diamondQualities"
                                    (click)="selectOption('diamondQuality', quality)"
                                    [class.active]="formGroup.get('diamondQuality')?.value === quality"
                                    class="height-option">
                                    {{ quality }}
                                </button>
                            </div>
                        </div>

                        <!-- Letter Height -->
                        <div class="form-group">
                            <label>Letter Height</label>
                            <div class="options-group">
                                <button type="button" *ngFor="let height of letterHeights"
                                    (click)="selectOption('letterHeight', height)"
                                    [class.active]="formGroup.get('letterHeight')?.value === height" class="height-option">
                                    {{ height }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group" [style.--theme-color]="formGroup.invalid ? '#ccc' : themeColor()">
                    <div class="cta-buttons">
                        <button type="submit" [disabled]="formGroup.invalid" class="submit-button primary"
                            (click)="buyAction('BUY_NOW')">
                            BUY NOW
                        </button>
                        <button type="submit" [disabled]="formGroup.invalid" class="submit-button secondary"
                            (click)="buyAction('ADD_TO_CART')">
                            ADD TO CART
                        </button>
                    </div>
                </div>
            </div>

        </div>

    }
    <div class="product-section">
        <div class="product-header" (click)="toggleDescription()">
            <span>Product Description</span>
            <span class="toggle-icon">{{ isDescriptionVisible ? '-' : '+' }}</span>
        </div>
        <div class="product-description" *ngIf="isDescriptionVisible">
            <p>
                Design a necklace that speaks to you. Choose 10kt, 14kt, or 18kt Yellow, White, or Rose Gold. Select VS,
                SI, or Lab-Grown diamonds to illuminate your name. Personalize with Regular or Sporty fonts, and Small
                (7.6mm uppercase) or Large (8.9mm uppercase) lettering. Handcrafted with an 18-inch adjustable cable
                chain (16/17 inches), this necklace is a unique expression of your identity.
            </p>
        </div>

        <div class="product-header" (click)="toggleDetails()">
            <span>Product Details</span>
            <span class="toggle-icon">{{ isDetailsVisible ? '-' : '+' }}</span>
        </div>
        <div class="product-details" *ngIf="isDetailsVisible">
            <div>
                <div class="section-header">Metal Information:</div>
                <ul>
                    <li>Karat: {{formValue.metalCarat ?? ''}}</li>
                    <li>Color: {{formValue.metalColor ?? ''}}</li>
                </ul>
            </div>
            <div>
                <div class="section-header">Diamond Information:</div>
                <ul>
                    <li>Number of Diamonds: {{noOfDiamonds()}} </li>
                    <li>Shape: Round</li>
                    <li>Carat Weight: {{caratWeight().toFixed(2)}} </li>
                </ul>
            </div>
            <div>
                <div class="section-header">Additional Information:</div>
                <ul>
                    <li>Total Diamond Weight (Approx.):{{caratWeight().toFixed(2)}}</li>
                    <li>Chain Type / Length: Cat 30 Cable Chain with Lobster Lock / 18 INCH</li>
                    <li>Design Width (Approx.): {{itemWidth()}} </li>
                </ul>
            </div>
        </div>
    </div>
    <app-faq-section></app-faq-section>
</div>