.measurment-container {
    display: flex;
    align-items: center;
    margin-top: 100px;
    color: #747070;

    .details-container-height {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        color: #747070;
    }

    .details-container-width {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-left: 100px;
        color: #747070;
    }
}

.measurment-para {
    font-size: 14px;
    text-align: center;
    font-family: 'Avenir';
    color: #747070;
    margin-top: 20px;
}