  <!-- Thumbnail Selector -->
  <div class="thumbnail-selector">
    @for (item of mediaItems(); track $index) {
      <!-- Display thumbnails for images/videos -->
      @if(isImage(item)) {
        <img 
        [src]="item"
        (click)="selectMedia($index)" 
        [style.border]="($index === selectedIndex ? '2px' : '1px') + ' solid ' + themeColor()"
        alt="Thumbnail"
      />
      } @else {
        <video [style.border]="($index === selectedIndex ? '3px' : '1px') + ' solid ' + themeColor()" (click)="selectMedia($index)" muted >
          <source [src]="item" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      }
    }
  </div>

  <!-- Main Media -->
   <div class="main-media" >
    @if(isImage(mediaItems()[selectedIndex])) {
      <img [src]="mediaItems()[selectedIndex]" alt="Main Image"/>
    } @else {
      <video autoplay muted loop>
        <source [src]="mediaItems()[selectedIndex]" type="video/mp4"/>
        Your browser does not support the video tag.
      </video>
    }
  </div>
