  :host {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }

  .main-media {
    width: 30vw;
    height: auto;
  }
  
  .main-media img, .main-media video{
    width: 100%;
  }
  
  .thumbnail-selector {
    display: flex;
    flex-direction: column;
  }
  
  .thumbnail-selector > img, .thumbnail-selector > .thumbnail-wrapper{
    width: 6.5vw;
    height: auto;
    cursor: pointer;
    border: 0.3px solid rgb(51, 51, 51);
    border-radius: 10px;
    transition: border-color 0.3s;
    margin-bottom: 10px;
  }

  .thumbnail-wrapper {
    position: relative;

    .play-overlay {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 40px;
      transform: translate(-50%, -50%);
      opacity: 0.75;
      pointer-events: none;
    }

    video{
      width: 100%;
      height: auto;
      border-radius: 10px;
      display: block;
    }
  }
  