  :host {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 30px;
  }

  .main-media {
    width: 30vw;
    height: auto;
  }
  
  .main-media img, .main-media video{
    width: 100%;
  }
  
  .thumbnail-selector {
    display: flex;
    flex-direction: column;
  }
  
  .thumbnail-selector img, .thumbnail-selector video{
    width: 8vw;
    height: auto;
    cursor: pointer;
    border: 0.5px solid rgb(51, 51, 51);
    border-radius: 10px;
    transition: border-color 0.3s;
    margin-bottom: 10px;
  }
  
  .thumbnail-selector img.active, .thumbnail-selector video.active{
    border: 1px solid black;
  }
  