
.main-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: 'Outfit';

  .main-page-head {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    font-family: 'Outfit';
    font-weight: 200;
    font-size: 1rem;

    img {
      width: 100%;
      max-width: fit-content;
      height: auto;
    }

    .main-page-head-text {
      position: absolute;
      right: 5%;
      padding: 10px 20px;

      h2 {
        text-align: left;
        font-weight: 400;
        font-size: clamp(12px, 2vw, 48px);
        margin: 0;
      }
    }
  }

  .tabs {
    margin-top: 2rem;
    font-family: 'Outfit';
    font-weight: 300;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  
    span {
      margin: 0 15px;
      font-size: clamp(16px, 1.5vw, 48px);
      font-weight: 300;
      cursor: pointer;
      position: relative;
      transition: color 0.3s ease-in-out;
  
      &.active {
        font-weight: 400;
        text-decoration: underline;
        text-underline-offset: 5px;
      }
    }
  }

  mat-divider {
    margin: 0 auto;
    width: 90%;
    height: 0.5px;
    background-color: #6e6a6a;
  }

  .row{
    display: flex;
    flex-direction: row;
    gap: 50px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .builder-details{
      border: 2px solid black;
      border-radius: 0.625rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 18.5rem; /* Prevent it from getting too big */
      max-height: 24.75rem;
      margin: 20px 0px 5px 0px;
      cursor: pointer;
      overflow: hidden;
  
      img{
        background: #ffffff;
        height: 100%;
        width: 100%;
      }
    }
    .card-desc {
      font-weight: 300;
      font-size: clamp(16px, 1.5vw, 48px);
      text-align: center;
      color: #252525;
      font-family: 'Outfit';
      text-decoration: none;
    }
  }

  .image-container {
    margin-top: 5rem;
    width: 90%;
    img {
      height: auto;
      width: 100%;
    }
  }

  .personalization-section {
    font-family: 'Outfit';
    text-align: center;
    width: 90%;
    padding: 20px;
    
    h2 {
        font-size: clamp(16px, 2vw, 48px);
        font-weight: 400;
    }
  
    p {
      font-size: clamp(16px, 1vw, 48px);
        font-weight: 300;
        margin-bottom: 10px;
    }
  
    strong {
        font-weight: 400;
    }
  }
  
  .faq-section {
    color: #252525;
    margin: 0 auto;
    margin-bottom: 3rem;
    width: 90%;
    padding-top: 1rem;
  
    h2 {
      font-size: clamp(16px, 2vw, 48px);
      font-weight: 200;
      border-bottom: 1px solid #252525;
      text-align: center;
      cursor: pointer;
    }
  
    .faq-item {
      border-bottom: 1px solid #252525;
      padding: 10px 0;
  
      .faq-question {
        font-size: clamp(16px, 1vw, 48px);
        display: flex;
        justify-content: space-between;
        cursor: pointer;
      }
  
      .faq-answer {
        font-size: clamp(16px, 1vw, 48px);
        padding: 10px 0;
        color: #666;
      }
    }
  }
}