<div class="main-page" [ngStyle]="{ color: companySetting.theme }">
  <div class="main-page-head">
    <picture>
        <source srcset="assets/home/mobile-header.webp" media="(max-width: 450px)" />
        <img src="assets/home/header.webp" alt="Header Image" />
    </picture>
    <div class="header-text">
      <h2 [ngStyle]="{ color: 'black' }">
        Make it Personal
        Make it Memorable
      </h2>
    </div>
  </div>

  <div class="main-page-content-heading">
    <h2 [ngStyle]="{ color: 'black' }">
      Personalized Jewelry - Crafted to Reflect You
    </h2>
    <h4>
        Create your name and date necklace or bracelet today. Personalize it and wear a piece that tells your story.
    </h4>
  </div>

  <div class="row">
    <ng-container *ngTemplateOutlet="builderTemplate; context: { index: 0 }"></ng-container>
    <ng-container *ngTemplateOutlet="builderTemplate; context: { index: 1 }"></ng-container>
    <ng-container *ngTemplateOutlet="builderTemplate; context: { index: 2 }"></ng-container>
    <ng-container *ngTemplateOutlet="builderTemplate; context: { index: 3 }"></ng-container>
  </div>

  <div class="image-container">
    <img [src]="footerImage" alt="logo" />
    <div class="banner-text">
      <h2 *ngFor="let i of companySetting.header.description" [ngStyle]="{ color: 'black' }">
        {{ i }}
      </h2>
    </div>
  </div>

  <div class="personalization-section">
    <h2>Discover the Sparkle of Personalization</h2>
    <p>
      Jewelry is more than just an accessory—it reflects who you are. Our collection of personalized
      diamond necklaces and bracelets is designed to celebrate life's special moments. Whether it's your
      name, a meaningful date, or a cherished memory, each piece is custom-crafted to shine with elegance
      and meaning.
    </p>
    <p>
      Whether you are treating yourself or searching for the perfect gift, our exquisite jewelry offers
      timeless design with a personal touch. Celebrate your story or create a truly unforgettable gift for
      someone special. With diamonds that sparkle like your memories, every piece is a lasting treasure.
    </p>
    <p>Make it personal. Make it memorable.</p>
  </div>

  <app-faq-section></app-faq-section>
</div>

<ng-template #builderTemplate let-index="index">
  <div class="builder-card">
    <a [routerLink]="buildersData[index].Url" [queryParams]="buildersData[index].queryParams">
      <img [src]="buildersData[index].MobileImg" />
    </a>
    <div class="card-desc">{{ buildersData[index].Description }}</div>
  </div>
</ng-template>
