.parent-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 5.2vw;
    height: auto;
    align-items: center;
    gap: 10px;
    padding: 0.5rem 0.5rem;
    border: 0.5px solid;
    border-radius: 10px;
    margin: 5px;
    margin-left: 0px;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Outfit';
    font-weight: 300;
    font-size: 1vw;

    img {
        height: auto;
        width: 4vw;
        max-width: 125px;
        border-radius: 10px;
    }

    span {
        color: #252525;
    }

}

.selected {
    border: solid 1.5px;
    transition: all 0.3s ease;
    font-weight: 400;
}