.parent-container {
    width: fit-content;
    height: fit-content;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;

    img {
        height: clamp(30px, 5vw, 60px);
        width: clamp(30px, 5vw, 60px);
        max-width: 60px;
    }

    span {
        color: #252525;
    }

}

.selected {
    border: solid 1px;
    transition: all 0.3s ease;
    font-weight: 400;
}